@import "config";
@import "../../node_modules/gorko/gorko.scss";
@import "reset";

body {
  margin: 2rem;
  background: #f0f0f0;
  font-family: sans-serif;
}

// Composition
@import "layout/cluster";
@import "layout/sidebar";
@import "layout/stack";