$size-scale: (
  "0": 0,
  "100": 0.25rem,
  "200": 0.5rem,
  "300": 0.625rem,
  "400": 1rem,
  "500": 1.5rem,
  "600": 2.25rem,
  "700": 3.375rem,
  "800": 5.0625rem
);

/* --------------------------------- */
/* Utility Classes for Child-Spacing */

.stack-base-xx {
  margin-top: var(--stack-space, 1em);
}

@each $key, $value in $size-scale {
  #{".stack-" + $key + " > * + *"} {
    @extend .stack-base-xx;
  }

  #{".stack-" + $key + " > *"} {
    --stack-space: #{$value};
  }
}

/* -------------------------------- */
/* Utility Classes for Self-Spacing */

@each $key, $value in $size-scale {
  #{".my-stack-space-" + $key} {
    --stack-space: #{$value};
  }
}